{
  "lines": 5,
  "statements": 5,
  "functions": 5,
  "branches": 5,
  "include": [
    "src/**/*.js"
  ],
  "require": [
    "babel-core/register"
  ],
  "cache": true,
  "check-coverage": true,
  "all": true,
  "sourceMap": false,
  "instrument": false
}
